In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")
Base = automap_base()
Base.prepare(engine, reflect=True)

Measurement = Base.classes.measurement
Station = Base.classes.station

session = Session(engine)

In [5]:
# Statistics for June
results = []
results = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
    filter(extract('month', Measurement.date)==6).all()
df = pd.DataFrame(results, columns=['date','precipitation','temperature'])
df.describe()

       precipitation  temperature
count    1574.000000  1700.000000
mean        0.136360    74.944118
std         0.335731     3.257417
min         0.000000    64.000000
25%         0.000000    73.000000
50%         0.020000    75.000000
75%         0.120000    77.000000
max         4.430000    85.000000

In [6]:
# Statistics for December
results = []
results = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
    filter(extract('month', Measurement.date)==12).all()
df = pd.DataFrame(results, columns=['date','precipitation','temperature'])
df.describe()

       precipitation  temperature
count    1405.000000  1517.000000
mean        0.216819    71.041529
std         0.541399     3.745920
min         0.000000    56.000000
25%         0.000000    69.000000
50%         0.030000    71.000000
75%         0.150000    74.000000
max         6.420000    83.000000

# Analysis summary
- The average precipitation is slightly higher in December compared to June. 
- The average temperature is higher in June than in December. While the max temperature does not differ much, The min temperature is relatively lower in December. This suggests more fluctuation of temperature within the month.

# Additional analyses
- Group by station and get data statistics for each station -> Will learn if there are any location dependencies
- If possible, incorporate "time" data in addition to the "date". Check the fluctuation of temperature throughout the day and compare between June and month.